<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mpaas-core-higer" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>mPaaSCore</name>
    <hook type="after_plugin_install" src="scripts/afterPluginInstall.js" />
    <hook type="before_compile" src="scripts/checkAndCopyConfig.js" />
    <hook type="before_build" src="scripts/checkAndCopyConfig.js" />
    <hook type="before_run" src="scripts/checkAndCopyConfig.js" />
    <hook type="before_serve" src="scripts/checkAndCopyConfig.js" />
    <js-module name="mPaaSCore" src="www/mPaaSCore.js">
        <clobbers target="cordova.plugins.mPaaSCore" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="mPaaSCore">
                <param name="android-package" value="higer.plugin.mpaas.core.core" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/core/core.java" target-dir="src/higer/plugin/mpaas/core" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="mPaaSCore">
                <param name="ios-package" value="mPaaSCore" />
            </feature>
        </config-file>
        <source-file src="src/ios/mPaaSCore.m" />
    </platform>
</plugin>