{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "project",
  "copy": true,
  "targets": {
    "project": {
      "author": "zhanghai793941@outlook.com",
      "time": "2020/12/15 11:04:58",
      "versions": {
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.201208163740"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        }
      },
      "baseline": "10.1.68",
      "pversion": "22",
      "custom": false,
      "frameworks": [
        "APLog.framework",
        "UTDID.framework"
      ],
      "resources": [

      ]
    }
  }
}